services:
  gauss-server:
    image: gauss-server-build
    container_name: gauss-server
    restart: unless-stopped

    volumes:
      - ../../volumes/gauss-server-data:/app/data
      - ./config.toml:/app/config.toml:ro
      - ./schemas:/app/schemas:ro

    entrypoint: ["/app/gauss-server-linux-amd64"]
    command: ["serve", "--config", "/app/config.toml"]

    ports:
      - "9100:9100"
      - "9200:9200"
      - "9300:9300"

    networks:
      - docker

  quotes-gen:
    image: gauss-server-build
    container_name: quotes-gen
    restart: unless-stopped
    depends_on:
      - gauss-server

    volumes:
      - ./bins/quotes-gen/config.toml:/app/quotes-gen.toml:ro

    entrypoint: ["/app/quotes-gen-linux-amd64"]
    command: ["--config", "/app/quotes-gen.toml"]

    networks:
      - docker

networks:
  docker:
    external: true
